h1 {
    color: blue;
}

#box {
    width: 600px;
    height: 500px;
    overflow-y: auto;
    border: 2px solid black;
    font-family: monospace;
    padding: 10px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0s;
    cursor: pointer;
    width: 153px;
}
  
.button1 {
    background-color: white; 
    color: green; 
    border: 2px solid green;
}
  
.button1:hover {
    background-color: green;
    color: white;
}

.button2 {
    background-color: white; 
    color: red; 
    border: 2px solid red;
}
  
.button2:hover {
    background-color: red;
    color: white;
}

.button3 {
    background-color: white; 
    color: blue; 
    border: 2px solid blue;
}
  
.button3:hover {
    background-color: blue;
    color: white;
}

.button4 {
    background-color: white; 
    color: orange; 
    border: 2px solid orange;
}
  
.button4:hover {
    background-color: orange;
    color: white;
}

#download {
    background-color: wheat;
}

label {
    width: 206px;
    font-size: 16px;
    display: inline-block;
}

#product {
    font-weight: bold;
    text-transform: uppercase;
    width: 410px;
}
#dot {
    height: 25px;
    width: 25px;
    vertical-align: middle;
    border-radius: 50%;
    display: inline-block;
  }
